body {
	background-color:#D2D5DD;
}
h1 {
	color:373B43;
	font-family: 'Hind Siliguri'

}	

p, li, h3, a {
font-family: 'Montserrat', sans-serif;
font-size: 20px;
}


/*colors:
BAC19A
F0F5FA
373B43
CABCB9 fde2e4 eae4e9
