body {
	background-color:#F0F5FA;
}
h1 {
	color:373B43;
	font-family: 'Hind Siliguri'
}	
p, li, h3, a {
font-family: 'Montserrat', sans-serif;
font-size: 20px;
}


/*colors:
BAC19A
F0F5FA
373B43
CABCB9
D4DFC7*/